# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Application specific
temp/
*.md
!README.md

# Distribution / packaging
dist/
build/
*.egg-info/
